# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
kzload
*.elf
*.exe
*.out
*.app

# Others
binutils-*/
gcc-*/
vendor/h8write/h8write
*.sublime-project
*.sublime-workspace
